:root {
	--main-color: #15191d;
	--font-color: #f2f2f2;
	--brand-color: #0c559e;
	--error-color: #f05959;
	--util-color: #272f38;
	--main-font: 'Geologica', sans-serif;
}

* {
	box-sizing: border-box;
	padding: 0px;
	margin: 0px;
	font-family: var(--main-font);
}

body {
	color: var(--font-color);
	background-color: var(--main-color);
}

button {
	border: none;
	font-weight: 400;
}
